/* ================================= 
  Base Element Styles
==================================== */

html {
  font-family: 'Catamaran', sans-serif;
}

header {
  /*margin-bottom: 50px;*/
}

h1 {
  font-size: 4rem;
  margin: .5rem auto;
}

.profilepic {
  max-width: 175px;
  border-radius: 15%;
  width: auto;
  height: auto;
}

/* ================================= 
  Base Layouts
==================================== */
/* --- Banner --- */
.banner {
  margin-bottom: 50px;
}

/* --- Navigation --- */


/* --- /container ---*/



/* --- Footer --- */

.main-footer {
  text-align: center;
  margin: 2em auto;
}

.list-inline {
  margin-top: 1em;
}



/* ================================= 
  Media Querries
==================================== */
/*
/* for-phone & tablet */
@media (max-width: 1200px) { 
  .banner h1 {
    font-size: 2em;
    text-align: center;
  }

  .banner p {
    text-align: justify;
  }
}

/* for-desktop-up */
@media (min-width: 1200px) {

}

/* for-big-desktop-up */
@media (min-width: 1800px) {
  
}
