/* ================================= 
  Base Element Styles
==================================== */

html {
  font-family: 'Catamaran', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: .5rem auto;
}



/* ================================= 
  Base Layouts
==================================== */


/* --- Navigation --- */


/* --- /container ---*/



/* --- Footer --- */




/* ================================= 
  Media Querries
==================================== */
/*
/* for-phone-only */
@media (max-width: 599px) { 
  
}

/* for-tablet-portrait-up */
@media (min-width: 600px) { 
  
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  
}

/* for-desktop-up */
@media (min-width: 1200px) {
  
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
  
}
